@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #BFB78F, #F2A71B);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #011f268b;
    width: 800px;
    padding: 20px;
    margin: auto;
}

h1 {
    color: #F2A71B;
    text-align: center;
    text-shadow: 1px 1px 2px #011f26a0;
}

h2 {
    color: #025E73;
    text-shadow: 1px 1px 2px #025e736d;
}


p {
   text-align: justify;
}

